<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Study Planner</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
             integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

        <!-- js 연결 -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!--        시간 설정 버튼-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- 쿠키 사용을 위한 Jquery-cookie 임포트 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="../static/main.css" type="text/css">

        <script>

            $(document).ready(function() {
                if ($.cookie('token') == undefined) {
                    window.location.href = '/login'
                } else {
                    load_user_info();
                }
            });

            $(document).ready(function() {
                  min = 1; // Minimum of 0
                  max = 10; // Maximum of 10
                  $('.count').prop('disabled', true);
                  $(".minus").on("click", function() {
                    if ($('.count').val() > min) {
                      $('.count').val(parseInt($('.count').val()) - 1 );
                      $('.counter').text(parseInt($('.counter').text()) - 1 );
                    }
                  });
                  $(".plus").on("click", function() {
                    if ($('.count').val() < max) {
                      $('.count').val(parseInt($('.count').val()) + 1 );
                      $('.counter').text(parseInt($('.counter').text()) + 1 );
                    }
                  });
            });

            window.onload = function() {
                showAdvice();
            };

            function showAdvice() {
                $.ajax({
                    type: "GET",
                    url: "/api/study",
                    data: {},
                    success: function (response) {
                        let advices = response['advices'];
                        let i = Math.random();
                        let advice = advices[Math.floor(i*(advices.length-1))]['advice'];
                        let temp = `<span id="advice">${advice}</span>`;
                        $('.advices').append(temp);
                    }
                })
            }

            function load_user_info() {
                $.ajax({
                    type: "GET",
                    url: "/api/index",
                    headers: {'token_give': $.cookie('token')},
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            $('#nickname').text(response['nickname'])
                        } else {
                            window.location.href = '/login'
                        }
                    }
                })
            }

            function monthGoal() {
                if ($('.setPlan').css('display') == 'none') {
                    $('.panel-heading').text('월간 계획을 세워보세요!');
                    $('.setPlan').show();
                } else {
                    $('.setPlan').hide();
                }
            }

            function weekGoal(){
                if($('.setPlan').css('display') == 'none'){
                    $('.panel-heading').text('주간 계획을 세워보세요!');
                    $('.setPlan').show();
                }
                else {
                    $('.setPlan').hide();
                }
            }

            function setTime(){
                if($('.setTime').css('display')=='none')
                    $('.setTime').show();
                else {
                    $('.setTime').hide();
                }
            }

        </script>

    </head>

    <body>
        <div class="wrap">
            <div class="title">
                <h1>Study Planner</h1>
                <h5><span id="nickname"></span>님 환영합니다</h5>
            </div>

            <div class="advices">
            </div>

            <div class="Goals">
                <button onclick="monthGoal();">월간 계획</button>
                <button onclick="weekGoal();">주간 계획</button>
                <button onclick="setTime();">시간 설정</button>
            </div>

            <div class="setPlan" style="display:none">
             <div class="row">
              <div class="col-md-4" >
               <div class="panel panel-primary">
                <div class="panel-heading"></div>
                 <div class="panel-body">
                  <div class="right">
                      <textarea class="plan" ></textarea>
                  </div>
                  </div>
                </div>
               </div>
              </div>
             </div>
            </div>

            <div class="setTime" style="display:none">
              <div class="input-group spinner">
                <div class="input-group-prepend">
                  <button class="btn text-monospace minus" type="button">-</button>
                </div>
                <input type="number" class="count form-control" min="1" max="10" step="1" value="1">
                <div class="input-group-append">
                  <button class="btn text-monospace plus" type="button">+</button>
                </div>
              </div>
            </div>

        </div>
    </body>
</html>
